apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
namespace: hello-gitops
images:
- name: hello-gitops
  newName: dcimg1339/hello-gitops
  newTag: b61bc3e6e802a410812d3541c93c560332049e4e
